<%= simple_form_for @task do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.check_box :completed, class: "check" %>
    <%= f.submit class: 'btn mt-3'%>
  </div>
<% end %>
