<div class="container text-center p-5">
  <h1>Task</h1>
  <div class="card-product-show">
    <% if @task.completed %>
      status : <i class="far fa-check-square done"></i>
    <% else %>
      status : <i class="far fa-square notyet"></i>
    <% end %>
    <h2><%= @task.title %></h2>
    <%= @task.details %>
    <div class="action d-flex justify-content-center my-3">
      <%= link_to edit_path(@task), class: 'btn me-3' do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete #{@task.title}?" }, class: 'btn' do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
    <p><%= link_to "Back to list", tasks_path, class: 'btn' %></p>
  </div>
</div>
